@font-face {
  font-family: 'walmarticons';
  src: url("../fonts/walmarticons.eot?-syv14m");
  src: url("../fonts/walmarticons.eot?#iefix-syv14m") format("embedded-opentype"), url("../fonts/walmarticons.woff2?-syv14m") format("woff2"), url("../fonts/walmarticons.woff?-syv14m") format("woff"), url("../fonts/walmarticons.ttf?-syv14m") format("truetype"), url("../fonts/walmarticons.svg?-syv14m#walmarticons") format("svg");
  font-weight: normal;
  font-style: normal; }
